<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Yaggo{% endblock %}</title>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
      <button type="button" class="btn btn-danger">Accueil</button>
      <button type="button" class="btn btn-danger">New</button>  
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
